body {
    background-color: #343a40; /* Cor de fundo escura */
    color: #ffffff; /* Texto branco */
}
.card {
    background-color: #495057; /* Cor do cartão */
    height: 300px; /* Definindo uma altura fixa */
}
.card-img-top {
    width: 100%; /* Largura total da carta */
    height: 150px; /* Altura fixa para as imagens */
    object-fit: cover; /* Corta a imagem para preencher o espaço */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para distribuir o conteúdo */
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.profissao {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    overflow: auto;
}

.profissao img {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.profissao h2 {
    margin: 0;
}

h1 {
    margin-top: 20px;
}
